<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pacientes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1>Lista de Pacientes</h1>
    <form action="/patients/search" method="get" class="mb-3">
        <div class="input-group">
            <input type="text" name="name" class="form-control" placeholder="Buscar paciente por nombre" value="Buscar paciente">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Género</th>
            <th>Dirección</th>
            <th>Tratamiento</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.name}"></td>
            <td th:text="${patient.age}"></td>
            <td th:text="${patient.gender}"></td>
            <td th:text="${patient.address}"></td>
            <td th:text="${patient.inform.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
